$text-color: #1b1c21;
$more-btn-before-background: url('../img/more.svg') no-repeat;
$fade-background: linear-gradient(
  to top,
  #f8f8f8 0.04%,
  rgba(248, 248, 248, 0.0001) 100%
);

.main-content {
  display: flex;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  flex-direction: column;
  align-items: flex-start;

  &__text-box {
    display: block;
    padding: 16px;
    padding-top: 0;
  }

  &__text {
    position: relative;
    margin: 0;
    margin-bottom: 16px;
    font-size: 14px;
    max-height: 90px;
    color: $text-color;
    overflow: hidden;
    transition: max-height 0.5s ease;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      display: block;
      margin: 0;
      padding: 0;
      height: 40px;
      width: 100%;
      background: $fade-background;
    }

    @media (min-width: 768px) {
      max-height: 160px;
    }

    &--show-all {
      max-height: 500px;
      &::after {
        display: none;
      }
    }
  }

  &__more-btn {
    position: relative;
    background: none;
    border: none;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    font-family: 'TT lakes', sans-serif;
    color: $text-color;
    margin-left: 8px;

    &::before {
      content: '';
      display: inline-block;
      background: $more-btn-before-background;
      height: 11px;
      width: 11px;
      margin-right: 16px;
    }
  }

  &__more-btn--less.main-content__more-btn::before {
    transform: rotate(180deg);
  }

  &__image-container {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    border-radius: 6px;
    overflow: hidden;
  }

  &__image {
    width: 100%;
  }

  @media (min-width: 768px) {
    flex-direction: row;
    padding: 0 24px;

    &__text-box {
      padding: 0;
      margin-right: 48px;
      width: auto;
    }

    &__image-container {
      min-width: 50%;
    }
  }

  @media (min-width: 1440px) {
    padding: 0 34px;

    &__text-box {
      margin-right: 36px;
    }
  }
}
