$page-background-color: #f8f8f8;

.page {
  &__main {
    margin: 0;
    padding: 0;
    width: auto;
    background-color: $page-background-color;
    max-width: 1260px;
  }
}

@media (min-width: 1260px) {
  .page {
    display: flex;
    justify-content: center;
  }
}
